form input[type=file]{
    display: none !important;
}
.content .partLeft{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
}
.content .partLeft .choose{
    width: 100%;
    height: 300px;
    border: 2px dashed #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.content .partLeft .partName,
.content .partRight .partName{
    width: 100%;
    height: fit-content;
}
.content .partRight{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
}
.content .partRight input[type=text],
.content .partRight input[type=number]{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: none;
    height: 40px;
    text-indent: 10px;
}
.content .partRight .buttons{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    column-gap: 20px;
}
.content .partRight .buttons .btn{
    font-size: 20px;
    width: 30%;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0 none;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
}
.content .partRight .buttons .add-btn{
    background-color: rgb(99, 239, 99);
}
.content .partRight .buttons .cancel-btn{
    background-color: rgb(224, 65, 65);
    text-decoration: none;
    color: #000;
}
.content .partRight .buttons .btn:hover{
    transform: scale(1.1);
}
.error{
    color: red;
    font-weight: bold;
}